.nav {
  height: 70px;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.posts {
  height: 380px;
  border: 1px solid grey;
  width: 400px;
  border-radius: 10px;
  background-color: rgb(207, 211, 200);
}

.post-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 20px;
}
.post-title {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-top: 10px;
}

.post-body {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}
.post-reactions {
  display: flex;
  margin-top: 40px;
  font-weight: 900;
  justify-content: center;
}
